[submodule "omni_directional_img_utils"]
	path = omni_directional_img_utils
	url = git@github.com:kattsunnn/omni_directional_img_utils.git
[submodule "img_utils"]
	path = img_utils
	url = git@github.com:kattsunnn/img_utils.git
